* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #333;
  min-width: 1226px;
}
/* 通用容器 */
.container {
  min-width: 1226px;
  margin-left: auto;
  margin-right: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fClear:after {
  content: "";
  display: block;
  clear: both;
}
